
/* fonts */
@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: normal;
    src: local('Billabong'), url('Billabong.woff') format('ttf');
    }

@font-face {
    font-family: 'Rich';
    font-style: normal;
    font-weight: normal;
    src: url('RichardMurrayRegular.ttf');
    }




body { 
    padding-top: 69px; 
}

.insta-nav {
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;
}


.txtLogo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

mainContent {
    margin-top: 25%;
}


.loginHeader {
    border: 1px 0 0 0 #e6e6e6;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.loginBtn {
    width: 100%;
}

.instaBox {
    border: 1px solid #efefef;
    background-color: #fafafa;
    box-shadow: none;
   }

.instaBox:focus {
 border: 1px solid grey;
 box-shadow: 0 0 1px 0 #efefef;
}

.loginSignup {
    text-align: center;
}

::placeholder {
    opacity: 1;
    color: #D0D0D0 !important;
}


body {
    padding-bottom: 45px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    color: white;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    background-color: white;
    padding-top: 5px;
}


.footerIcon {
    color: black;
}

.footerIcon:hover {
    color: gray;
}


.btnPost {
    color: black;
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 24px !important;
    font-weight: 700 !important;
    outline: none;
}

.btnPost:hover {
    color: gray;
}


img:empty {
    width: 100%;
    height: 100%;
}

#picUpload {
    text-align: center;
}


#picUpload input[type=file] {
    display: none;
background-color: transparent;
color: transparent;
}

#imgChosen {
    margin-bottom: 5%;
}

#mdlCamera:hover {
    cursor: all-scroll;
}


.postComments {
    overflow: auto;
    height: auto;
    padding: 2.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border: 1px solid #e6e6e6;
}


.postContainer {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    margin-top: -100px;
    padding-top: 150px;
    padding-bottom: 100px;
    
}


.postText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#addComment {
    position: relative;
}

.commentFooter {
    margin-top: 10%;
}


.liked {
    color: pink;
}


.exploreHeader {
    text-align: center;
    font-weight: 400;
    font-family: fantasy;
    margin-top: 7%;
    margin-bottom: 7%;
}

.userName {
    font-size: 20px;
    text-align: center;
}

.userPic {
    text-align: center;
}

.postDate {
    text-align: center;
}


.followButton {
    text-align: center;
    font-weight: 400;
    font-family: fantasy;
    width:80%;
    position: relative;
}