/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.Brand {
    font-size: 28px !important;
    font-family: fantasy;
    font-weight: 400;
}


.DocCard {
    margin-top: 2%;
    width:100%;
}

.TheCard {
    border: 1px solid black;
    box-shadow: 0 0 10px 0 black;
    padding: 7px;
    margin-bottom: 40px;
}

.DocTitle {
    text-align: center;
}

.DocSection {
    text-align: left;
    color: rgb(79, 79, 236);
    font-size: 18px;
    font-family: fantasy;
    font-weight: 300;
    margin-bottom: 1px;
}


.DemoSection {
    text-align: left;
    color: rgb(79, 79, 236);
    font-size: 18px;
    font-family: fantasy;
    font-weight: 300;
    margin-bottom: 1px;
}


.DocSectionText {
    font-family: cursive;
}

hr {
    color: #D0D0D0;
    box-shadow: 0 0 1px 0 #D0D0D0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ItemActive {
    background-color: white;
    color: #343a40;
}


.DocSectionQuote {
    margin: 0;
    width: 100%;
    color: white;
    background-color: #999999;
    font-family: monospace;
}

.demoBox {
    border: 1px solid #999;
    background-color: #fafafa;
    box-shadow: none;
    margin-bottom: 10px;
   }

.demoBox:focus {
 border: 1px solid grey;
 box-shadow: 0 0 15px 0 black;
}


::placeholder {
    opacity: 1;
    color: #D0D0D0 !important;
}


.btnDemo {
    color: white;
    background-color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 18px !important;
    outline: none;
}

.btnDemo:hover {
    color: black;
    background-color: white;
}


.DemoSection {
    margin-bottom: 20px;
}


.modalText {
    word-wrap: break-word;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}