ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.Active {
  background: green;
  font-size: 24px;
}

.nonActive {
  background: #111;
  font-size: 24px;
}

.nonActive:hover {
  background-color: yellowgreen;
}


.Title {
  background: #333;
  font-size: 24px;
  
}
