form {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p.title {
    font-size: 32px;
    color: rgb(85, 24, 218);
}


label {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: dimgrey;
}

input {
    border-radius: 7px;
    border: 1px solid blueviolet;
}

input:focus {
    border: 2px solid white;
    box-shadow: 0 0 10px blueviolet;
    border-color: transparent;
    border-radius: 7px;
    outline: none;
}



select:focus {
    border: 2px solid white;
    box-shadow: 0 0 10px blueviolet;
    border-color: transparent;
    border-radius: 7px;
    outline: none;
}

button {
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 140px;
    border-radius: 7px;
    border: 2px solid blueviolet;
}

button:hover {
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 140px;
    border-radius: 7px;
    border: 2px solid blueviolet;
    background: blueviolet;
    color: white;
}

.btn {
    font-size: 24;
    font-weight: bold;
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 7px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
  }

  .Error {
      font-size: 18;
      background-color: red;
      color: white;
      font-weight: bold;
  }