/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    padding: 0;
    margin: 0;
}

@font-face { font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url("https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

@font-face { 
    font-family: "Roboto";
    font-style: normal; font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.1") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.1") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular") format("svg");
  }




#wrapper {
    width: 100%;
    height: 100vh;
    /*border: 1px solid #000;*/
}

.pagesection {
    width: 100%;
    height: 670px;
    /*border: 1px solid #000;*/
}

#topsection {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgba(9,5,47,.95), rgba(49,29,94,.9)), 
                url("../img/header-bg-1600x670.jpg");
    background-size: cover;
}

.box960 {
    width: 960px;
    height: 100%;
    /*
        Center the box in the middle
        of the screen horizontally
    */
    margin: 0 auto;
    /*border: 1px solid #000;*/
}

#header {
    width: 100%;
    height: 90px;
    /*border: 1px solid #000;*/
}

#header > a {
    display: block;
    float: left;
    width: 23%;
    height: 72px;
    padding: 18px 0 0 18px;
    /*border: 1px solid #000;*/
}

#header > nav {
    float: right;
    width: 74%;
    height: 72px;
    padding: 18px 0 0;
    /*border: 1px solid #000;*/
}

#header > nav > ul {
    float: right;
    padding: 0;
    width: 100%;
    height: 20px;
    text-align: right;
    /*border: 1px solid #000;*/
}

#header > nav > ul > li {
    display: inline;
    margin: 8px;
    text-decoration: none;
    /*border: 1px solid #000;*/
}

#header > nav > ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 10pt;
    font-weight: bold;
}

#header > nav > ul > li > a:hover,
#header > nav > ul > li > a.active {
    color: #00e0d0;
    font-weight: bold;
}

.carousel {
    width: 90%;
    height: 400px;
    padding: 100px 55px 0 55px;
    /*border: 1px solid #000;*/
}

.separator {
    width: 50px;
    height: 1px;
    margin: 20px auto;
    border-top: 1px solid #00e0d0;
}

.bluebtn {
    display: block;
    width: 120px;
    height: 40px;
    margin: 50px auto;
    line-height: 40px;
    color: #00e0d0;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.bluebtn:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel > h1,
.carousel > p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
}

.carousel-controls {
    width: 90px;
    height: 30px;
    margin: 0 auto;
}

.carousel-controls > ul {
    margin: 0 auto;
    padding: 0;
}

.carousel-controls ul > li {
    display: inline;
    text-decoration: none;
}

.carousel-controls ul > li > a {
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 1px solid #00e0d0;
    border-radius: 50px;
}

.carousel-controls ul > li > a:hover,
.carousel-controls ul > li > a.active {
    border: 1px solid #00e0d0;
    background-color: #00e0d0;
}



/* Start section 2 */

 #sec2 {
    background-color: #FFF;
    height: 402px;
    width: 100%;
    padding: 100;
    margin-top:0;
    display:inline-block;
}

#sec2_left {
    padding-top: 0;
    margin-top: 72px;
    width: 520px;
    height: 261px;
    float: left;

}

#sec2_logo {

    float: right;

}

#sec2_right {
    padding-top: 0;
    margin-top: 72px;
    margin-left: 619px;
    height: 260px;
    width: 540px;  
}

#sec2_title {
    text-align: left;
    font-size: 22pt;
    font-family: Playfair Display;
    font-weight: 700;
    color: #413d4b;
}

#sec2_text {
    font-size: 11pt;
    font-family: Roboto;
    color: #413d4b;
    margin-bottom: 25px;
}

#sec2_text2 {
    font-size: 11pt;
    font-family: Roboto;
    color: #413d4b;
}


#sec2_btn {
    margin-left: 0;
}

/*  End section 2  */


/*##################################################################*/


/*  Start section 3 */



#sec3 {
    width: 100%;
    height: 550px;
    padding: 0;
    background: linear-gradient(to right, rgba(9,5,47,.80), rgba(49,29,94,.9)), 
    url("../img/sec3-bg.png");;
    text-align: center;
}

#sec3_vid_txt {
    padding: 0;
    margin-top: 36px;
    font-family: Roboto;
    color: white;
    font-weight: 700;
    
}


#sec3_vid_img {
    margin-top: 200px;

    width: 102px;
    height: 102px;
}







/*  End section 3  */


/*##################################################################*/


/*  Start section 4 */

#sec4 {
    width: 100%;
    height: 755px;
    background-color: white;
}


#sec4_header {
    height: 68px;
    width:100%;
    margin-top: 72px;
    text-align: center;
}

#sec4_header_title {
    font-family: Playfair Display;
    color: #413d4b;
    font-size: 22px;
}

#sec4_header_txt {
    font-family: Playfair Display;
    color: #2f2d35;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    opacity: 1;
}


#sec4_header_line {
    width: 50px;
    height: 2px;
    background: #c6c4c9;
    display: inline-block;
    margin: 20px auto 40px;
}




#sec4_body {
    text-align: center;
    display: inline-block;
}


#sec4_body_row1 {
    margin-top: 50px;
    margin-left: 190px;
    height: 246px;
    width: 963px;
}


#sec4_body_item1 {
    padding-top: 40px;
    width: 320px;
    height: 100%; 
    float: left;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}


#sec4_body_item2 {
    padding-top: 40px;
    width: 320px;
    height: 100%;
    float: left;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}


#sec4_body_item3 {
    padding-top: 40px;
    width: 320px;
    height: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
}



#sec4_body_row2 {
    margin-top: 0px;
    margin-left: 190px;
    height: 246px;
    width: 963px;
}


#sec4_body_item4 {
    padding-top: 40px;
    width: 320px;
    height: 100%; 
    float: left;
    border-right: 1px solid #ebebeb;
}


#sec4_body_item5 {
    padding-top: 40px;
    width: 320px;
    height: 100%;
    float: left;
    border-right: 1px solid #ebebeb;
}


#sec4_body_item6 {
    padding-top: 40px;
    width: 320px;
    height: 100%;
    float: left;
}


.sec4_body_title {
    margin-top: 35px;
    font-family: Roboto;
    color: #413d4b;
    font-weight: 700;
}

.sec4_body_desc {
    text-align: center;
    width: 253px;
    font-size: 15px;
    margin-left: 32px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-family: Roboto;
    color: #333333;
}


/*  End section 4  */


/*##################################################################*/


/*  Start section 5 */
#sec5 {
    border-top: 1px solid transparent;
    display: block;
    width: 100%;
    height: 712px;
    background: linear-gradient(to right, rgba(9,5,47,.80), rgba(49,29,94,.9)), 
    url("../img/sec5-bg.png");;
}



#sec5_header {
    height: 68px;
    width:100%;
    margin-top: 70px;
    text-align: center;
}

#sec5_header_title {
    font-family: Playfair Display;
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
}

#sec5_header_txt {
    font-family: Playfair Display;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    opacity: 1;
}


#sec5_header_line {
    width: 50px;
    height: 2px;
    background: #655b80;
    display: inline-block;
    margin: 20px auto 40px;
}



#sec5_body {
    margin-top: 48px;
    margin-left: 188px;
    height: 50%;
    border: 1px solid transparent;
}

.sec5_body_img_title {
    font-family: Roboto;
    text-align: center;
    margin-top: 24px;
    color: rgba(255,255,255,0.70);
    font-weight: 700;
    letter-spacing: 0.5px;
}


.sec5_body_img_desc {
    font-family: Roboto;
    font-size: 13px;
    margin-top: 5px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
}


#sec5_body_item1 {
    height: 308px;
    width:220px;
    text-align: center;
    border: 1px solid #FFF;
    float: left;
}

#sec5_body_item2 {
    height: 308px;
    width:220px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #FFF;
    float: left;
}

#sec5_body_item3 {
    height: 308px;
    width:220px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #FFF;
    float: left;
}

#sec5_body_item4 {
    height: 308px;
    width: 220px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #FFF;
    float: left;
}


#sec5_footer {
    margin-top: 30px;
    margin-left: auto;
    text-align: center;
}

#sec5_footer_txt {
    font-family: Roboto;
    font-size: 14px;
    color: #FFF;
    margin-bottom: 10px;
}


#sec5_btn {
    margin-top: 27px;
    width: 140px;
}







/* End section 5 */

/*##################################################################*/


/*  Start section 6 */

#sec6 {
    height: 735px;
    width: 100%;
}

#sec6_header {
    height: 156px;
}

#sec6_header_left {
    margin-top: 69px;
    width: 30%;
    text-align: center;
    float: left;
}

#sec6_header_center {
    width: 40%;
    height: 100%;
    text-align: right;
    float: left;
}

#sec6_header_right {
    margin-top: 69px;
    width: 30%;
    text-align: left;
    float: left;
}


#sec6_header_txt1 {
    font-family: Playfair Display;
    font-size: 22px;
    color: #413d4b;
    font-weight: 700;
    margin-right: 0;
}

#sec6_header_txt2 {
    color: #413d4b;
    font-family: FontAwesome;
    margin-left: 0;
}


#sec6_body {
    width: 100%;
    height: 394px;
    float: left;
    border-top: 1px solid transparent;
    background-color: grey;
}

.sec6_body_row {
    width: 100%;
    height: 197px;
    
}

.sec6_body_item {
    width: 266px;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    
}


#sec6_footer {
    margin-top: 300px;
}



/* End section 6 */



/*##################################################################*/


/*  Start section 7 */

#sec7 {
    width: 100%;
    height: 500px;
    border-top: 1px solid transparent;
    background: linear-gradient(to right, rgba(9,5,47,.80), rgba(49,29,94,.9)), 
    url("../img/sec7-bg.png");;
}


#sec7_header {
    margin-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#sec7_header_txt {
    text-align: center;
    margin-top: 40px;
    font-family: Roboto;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 768px;
    margin-left: 250px;   
    letter-spacing: 0.5px;

}




/* End section 7 */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}