
/* fonts */
@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: normal;
    src: local('Billabong'), url('Billabong.woff') format('ttf');
    }

@font-face {
    font-family: 'Rich';
    font-style: normal;
    font-weight: normal;
    src: url('RichardMurrayRegular.ttf');
    }

    @font-face {
        font-family: "Slack-Lato";
        font-style: normal;
        font-weight: 400;
        src: local("Slack-Lato"), url("/d8051/fonts/lato-2-compressed/lato-regular.woff2") format("woff2"), url("/d8051/fonts/lato-2/lato-regular.woff") format("woff");
        unicode-range: U+0-F8FE, U+F900-FFFF;
      }


body { 
    padding-top: 69px; 
}

.insta-nav {
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;
}


.txtLogo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

mainContent {
    margin-top: 25%;
}


.loginHeader {
    border: 1px 0 0 0 #e6e6e6;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.loginBtn {
    width: 100%;
    background-color: #008952;
    border-color: aquamarine;
}

.loginBtn:hover {
    background-color: springgreen;
    border-color: aquamarine;
}

.instaBox {
    border: 1px solid #efefef;
    background-color: #fafafa;
    box-shadow: none;
   }

.instaBox:focus {
 border: 1px solid grey;
 box-shadow: 0 0 10px 0 #4d394b;
}

.loginSignup {
    text-align: center;
}

::placeholder {
    opacity: 1;
    color: #D0D0D0 !important;
}


body {
    padding-bottom: 45px;
    overflow-x: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 63px;
    color: white;
    text-align: center;
    background-color: white;
    padding-top: 0;
    /*border-top: 1px solid #e6e6e6;*/
}


.footerIcon {
    color: black;
}

.footerIcon:hover {
    color: gray;
}


.btnPost {
    color: black;
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 24px !important;
    font-weight: 700 !important;
    outline: none;
}

.btnPost:hover {
    color: gray;
}


img:empty {
    width: 100%;
    height: 100%;
}

#picUpload {
    text-align: center;
}


#picUpload input[type=file] {
    display: none;
background-color: transparent;
color: transparent;
}

#imgChosen {
    margin-bottom: 5%;
}

#mdlCamera:hover {
    cursor: all-scroll;
}


.channels {
    overflow: auto;
    height: auto;
    padding: 2.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    background-color: #4d394b;
}

.chats {
    overflow: auto;
    height: auto;
    padding: 2.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border: 1px solid #e6e6e6;
    border-bottom: 0;

}


.postContainer {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    border: 0;
    outline: 0;
    backface-visibility: hidden;
    will-change: overflow;
    margin-top: -130px;
    padding-top: 130px;
    
}


#addComment {
    position: relative;
}

.commentFooter {
    margin-top: 10%;
}


.liked {
    color: pink;
}


.exploreHeader {
    text-align: center;
    font-weight: 400;
    font-family: fantasy;
    margin-top: 7%;
    margin-bottom: 7%;
}

.userName {
    font-size: 20px;
    text-align: center;
}

.userPic {
    text-align: center;
}

.postDate {
    text-align: center;
}


.followButton {
    text-align: center;
    font-weight: 400;
    font-family: fantasy;
    width:80%;
    position: relative;
}


.channelTitle {
    font-family: Slack-Lato;
    font-size: 18px;
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: move;
}

.channelTitle:hover {
    background-color: #342032;
}

.channelActive {
    background-color: #4c9689;
}

.channelActive:hover {
    background-color: #4c9689;
}


.channelsHead {
    height: 4em;
    text-align: center;
    color: white;
    font-size: 24px;
    background-color: #342032;
}

.hidden {
    display:none;
}

.smallText {
    font-size: 11px;
    color: grey;
}

.messageTxt {
    font-family: Slack-Lato;
    font-size: 20px;
}

.msgBox {
    border: 2px solid #D0D0D0;
    width:90%;
    height: 40px;
    margin-left:0;
    margin-right: 0;
    background-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;

}

.msgBox:focus , msgBtn {
    border-color: grey;
    box-shadow: none;
}

.msgBtn {
    border: 2px solid #D0D0D0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #D0D0D0;
    margin: 0;
    height: 40px;
    background-color: transparent;
    outline: none;
    border-right: 0;
}



.msgBlock {
    text-align: center;    
}

.paddSection {
    display: flex;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
    padding: 2.5rem;
    background-color:  #4d394b;
    border-right: 1px solid white;
    margin-right:12px;
}

.faBullet {
    color: seagreen;
    font-size: 14px;
}

.faUser {
    color: seagreen;
}

.fanotUser {
    color: orange;
}