/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   head {
    padding: 0;
    margin: 0;
}

   body {
    padding: 0;
    margin: 0;
}


.menu {
    background: linear-gradient(green, green, green);
    width: 100%;
    height: 5%;
    display: inline-block;
}


#title {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}


::placeholder { 
    color: #D0D0D0;
    opacity: 4;
    font-size: 16px;
}



.searchBar {
    height: 15%;
    width:99%;
    margin-top: 1px;
    margin-left:1px;
    margin-right: 0;
    padding-top: 2%;
    background-color: transparent;
}

.address {
    padding: 4px;
    font-size: 14px;
    background-color: white;
    border: 1px solid green;
    border-right: none;
    border-radius: 1px;
    display: inline-block;
    height: 100%;
    width:50%;
    margin:0;
    margin-left: 20%;
    line-height: 35px;
    position: relative;
}

.address:focus {
    box-shadow: 0 0 10px 0 green;
}


button {
    padding: 4px;
    background-color: green;
    border: 1px solid grey;
    border-radius: 1px;
    color: white;
    font-size: 16px;
    width: 10%;
    margin-left: 0;
    display: inline-block;
    line-height: 35px;
    position: absolute;
}

button:hover {
    background-color: greenyellow;
}



.contentShow {
    width: 99%;
    text-align: center;
}


#wait {
    margin-left: 40.5%;
    margin-top: 5%;
    visibility: hidden;
    display: block;
    height: 10%;
    position: absolute;
    
}



#summaryTitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    word-wrap: break-word;
    
}

#summaryText {
    font-size: 14px;
    text-align: left;
    margin-left: 25%;
    width: 50%;
}

.Error {
    color: red;
    font-size: 16px;
    font-weight: 400;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}