.towers {
    width: 94%;
    height: 200px;
    margin-top: 50px;
    padding-left: 5%;
    text-align: center;
}

.tower-container {
    border-bottom: 3px solid black;
    text-align: center;
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 12%;
    position: relative;
}

.tower {
    margin-left: 50%;
    text-align: center;
    border-right: 4px solid black;
    height: 100%;
    width: 1px;
    position: absolute;
    z-index: 1;
}

.box {
    bottom: 0;
    height: 12%;
    border-radius: 7px;
    transition-property: all;
    transition-duration: 1s;
    background: radial-gradient(#ecdea5, #c19b6c);
    box-shadow: 0 0 5px 0 brown;
    position: absolute;
    z-index: 2;
}

.size1 {
    width:80%;
    margin-left: 11%;
}

.size2 {
    width:70%;
    margin-left: 16%;
}

.size3 {
    width:60%;
    margin-left: 21%;
}

.size4 {
    width:50%;
    margin-left: 26%;
}

.size5 {
    width:40%;
    margin-left: 31%;
}

.size6 {
    width:30%;
    margin-left: 36%;
}

.size7 {
    width:20%;
    margin-left: 41%;
}

.size8 {
    width:10%;
    margin-left: 46%;
}

.index0 {
    bottom: 0%;
}

.index1 {
    bottom: 12%;
}

.index2 {
    bottom: 24%;
}

.index3 {
    bottom: 36%;
}

.index4 {
    bottom: 48%;
}

.index5 {
    bottom: 60%;
}

.index6 {
    bottom: 72%;
}

.index7 {
    bottom: 84%;
}


.panel {
    margin-top: 10%;
    text-align: center;
}

label {
    display:inline-block;
    color: black;
    width: 100px;
    font-size: 24px;
}

button {
    background-color: brown;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-align: center;
    height: 30px;
    width: 50px;
    border-radius: 7px;
    border: none;
}

button:hover {
    font-weight: bold;
    height: 30px;
    width: 50px;
    border-radius: 7px;
    background: blueviolet;
    color: white;
}

p {
    color: grey;
}

.menu {
    width: 100%;
    height: 20%;
    background: brown;
    color: wheat;
    font-size: 36px;
    text-align: center;
}