/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
head {
    padding: 0;
    margin: 0;
}

   body {
    padding: 0;
    margin: 0;
}


.menu {
    background: linear-gradient(black, black, black);
    width: 100%;
    height: 5%;
    display: inline-block;
}

#title {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}


.add_item {
    margin-top: 5%;
    text-align: left;
    margin-left: 35%;
}

#lbl_add {
    text-align: left;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

#item_title {
    padding: 2px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    height: 15%;
    display: inline-block;
    line-height: 30px;
    margin-top: 10px;
    
}

::placeholder { 
    color: #D0D0D0;
    opacity: 4;
    font-size: 16px;
}

#item_title:focus {
    box-shadow: 0 0 20px 0 black;
}


button {
    background-color: black;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    height: 15%;
    width: 12%;
    margin-left: 2%;
    display: inline-block;
    line-height: 30px;

}

button:hover {
    background-color: grey;
}

#txt_desc {
    padding: 2px;
    margin-top: 2%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 42%;
}

#txt_desc:focus {
    box-shadow: 0 0 20px 0 black;
}

hr {
    width: 50%;
    margin-left: 25%;
    border-width: 1px;
}

#hr1 {
    margin-top: 2%;
}

.items {
    margin-top: 3%;
    margin-left: 27.5%;
    margin-bottom: 2%;
}

.item_container {
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin-top: 3%;
    padding-left: 5px;
    padding-top: 0;
    width: 60%;
    overflow: hidden;
}

.item {
    overflow: hidden;
    float: left;
    width: 80%;
    border: 1px solid transparent;
    bottom: 0;
}

.item_title {
    font-size: 22px;
    font-weight: 700;
}

.item_date {
    font-size: 10px;
    color: grey;
    margin-bottom: 1%;
}

.item_txt {
    font-size: 16px;
}

.delete {
    position: relative;
    overflow: hidden;
    float: left;
    width: 7%;
    margin-top: 5%;
    height: 7%;
    border: 1px solid transparent;
}

.del {
    background-color: black;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    width: 99%;
    height: 99%;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}