

#sectionMain {
    margin-top: 3%;
}


#brand {
    font-size: 28px;
    font-weight: 800;
}


.articlesTitle {
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
}


.articlesFooter {
    font-size: 11px;
    color: grey;
    background-color: transparent;
    border: 0;
}


#hTitle {
    text-align: center;
    font-weight: 800;
    margin-bottom: 2%;
}

#txtArea {

}


#btnAdd {
    width: 15%;
}

#btnCancel {
    width: 15%;
}


.chk {
    font-size: 14px;
    color: grey;
}


#crdChk{
    padding: 3%;
    margin-bottom: 2%;
}


.loginHeader {
    background-color: black;
    color: white;
}

.txtbox:focus {
    box-shadow: 0 0 7px black; 
    border: 1px solid black;
}

::placeholder { 
    color: #d0d0d0 !important;
    opacity: 1; 
}


.articleFooter {
    font-size: 11px;
    color: grey;
    background-color: transparent;
    border: 0;
}